<div class="dashboard-header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-8">
        <h1 class="fw-bold">学生成绩管理系统</h1>
      </div>
      <div class="col-4 header-action-button">
        <button
          class="btn btn-add text-white btn-action me-2"
          data-bs-toggle="modal"
          data-bs-target="#addStudentModal"
        >
          <i class="fas fa-plus"></i> 添加学生
        </button>
        <a
          href="{{ url_for('auth.logout') }}"
          class="btn btn-add text-white btn-action"
        >
          <i class="fas fa-sign-out-alt"></i> 登出
        </a>
      </div>
    </div>
  </div>
</div>
