.article-content {
  white-space: pre-wrap;
  margin-top: 0;
  margin-bottom: 3rem;
  padding: 0;
  color: #212529;
  font-family: Microsoft YaHei, sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: justify;
}

.date {
  font-size: 0.9rem;
  color: #6c757d;
  margin-bottom: 1.5rem;
  text-align: right;
}

.container-content {
  max-width: 48rem;
  margin: 0 auto;
  padding: 1.5rem 1rem;
}
